
.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* nav style  */

.nav-title{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    padding: 20px 140px;
}
.logo{
    height: 62px;
    width: 62px;
}
.bold{
    font-size: 2rem;
    font-weight: 800;  
    
}
.display-item,.features{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 62px;
}
.menubar{
    height: 30px;
    width: 30px;
    display: none;
}
.features{
    gap: 32px;
    width: 387px;
    height: 30px;
    font-size: 1.25rem;
    font-weight: 800px;
}
.p-1{
    color: orange;
}
.p-2{
    color: skyblue;
}
.p-3{
    color: rgba(5, 212, 223, 1);
}
.p-4{
    color: #5D58EF;
}
.btn-primary{
    color: white;
    background-color: orange;
    border-radius: 12px;
    padding: 10px 60px;
    font-weight: 600px;
    font-size: 1.25rem;
    border: none;
}
.nav-section{
    width: 1160px;
    height: 62px;
}


/* banner style  */
.banner-heading{
    font-weight: 800;
    font-size: 3.5rem;
    margin-bottom: 0;
    
}
.color-1{
    color: orange;
}
.color-2{
    color: skyblue;
}
.color-3{
    color: #8700FF;
}
.banner-description{
    font-size: 1.25 rem;
    font-weight: 400;
    
    padding: 10px 0px 10px 0px;
   
}
.banner-btn{
    color: white;
    background-color: black;
    border-radius: 12px;
    padding: 10px 47px;
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
}
.banner-details{
    width:640px;
    height: 331px;
    padding: 122px 0px 122px 0px;
    
}
.banner-img{
    width: 468.61px;
    height: 575px;
}
.banner-flex{
    display: flex;
}
.banner{
    display: flex;
    justify-content: space-between;
    width: 1158px;
    height: 575px;
    padding: 20px 140px 20px 140px;
}

/* card style  */
.card-image{
    width: 136px;
    height: 136px;
    padding-left: 115px;
    padding-top: 65px;
    
}
.card-heading{
    font-weight: 700px;
    font-size: 1.53rem;
    padding-left: 75px;
    
}
.card-content{
    font-size: 1rem;
    font-weight: 600;
    color: #808080;
    line-height: 35px;
    padding-left: 10px;
    margin-top: 0px;
    text-align: center;
}
.more{
    font-weight: 700;
    font-size: 1rem;
    padding-left: 142px;
}
.card-1,.card-2,.card-3{
    
    width: 367px;
    height: 476px;
    border-radius: 18px;
    gap:20px;
    

}

#grad-1{
        background-image: linear-gradient(#EEF4F7,white);
}
#grad-2{
    background-image: linear-gradient(#FFF4DC, white);
}
#grad-3{
    background-image: linear-gradient(#F2E8FF,white);
}
.card-title{
    font-size: 2.875rem;
    font-weight: 700;
    padding-left: 489px;
    padding-bottom: 80px;
    
   
}
.about-card{
    width: 1440px;
    height: 879px;
    gap:80px;
    padding: 60px;
    
}
.card-section{
   display:flex;
   padding-left:150px;
   gap:20px;
}
#card-bg-image{
    background-image: url(../assets/bg.png);
    width: 1400px;
    margin: 0;
    height: 879px;
}
/* card style part-2  */
.About-card-details{
    width: 1382px;
    height: 1020px;
    /* margin: 0 auto; */
}
#card-bg-image-1{
    background-image: url(../assets/bg.png);
    background-image: linear-gradient(white,rgba(255, 214, 142, 1));
    
}
.our-story{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    
    padding-bottom: 50px;
    
}
.medium-card{
    width: 530px;
    height: 330px;  
}
.medium-card-title{
    font-weight: 700;
    font-size: 1.5rem;
    padding: 61px 100px 0px 38px;
}
.medium-card-description{
    font-weight: 600;
    font-size: 0.9rem;
    color: #666666;
    padding: 0px 68px 34px 38px;
}
.div-1,.div{
    background-color: white; 
}
.div-1{
    border-radius: 10px;
   
}
.div-img{
    width: 290px;
    height: 175px;
    
}
.div-title{
   font-size: 0.9rem;
   font-weight: 700;
   line-height: 28px;
   padding: 30px 50px 30px 37px;
}
.div{
    width: 290px;
    height: 301px;
    border-radius: 16px;
    
}
.flex{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 10px;
}
.story-flex{
    display:flex;
    gap: 18px;
    padding-left: 100px;
}


/* footer style */
.footer-bg{
    display: flex;
    gap: 120px;
    background-color: #01ACFD;
    width: 1300px;
    height: 400px;
    padding: 100px 0px 0px 80px;
    margin-right: 0;
}

.footer-icon{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.footer-img{
    width: 82px;
    height: 90px;   
}

.footer-title{
    font-weight: 700;
    font-size: 2.63rem;
    color: white;

}
.footer-details{
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
    padding-left: 100px;
}
.h5,.h4{
    color: white;
}
.h5{
    font-size: 1.25rem;
    font-weight: 600;
}
.h4{
    font-size: 1.5rem;
    font-weight:700;
}
.btn-card{
    padding-left: 600px;
    padding-top: 100px;
}



@media  screen and (max-width:576px) {
    .nav-section{
        width: 100%;
        padding:none;
        margin: none;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid orange;
        
    }
    .bold,.features,.btn-primary{
        display: none;
    }
    .menubar{
        display: flex;
        padding-top: 15px; 
    }
    .nav-2{
        display: flex;
        justify-content: space-between;
    }
    .nav-title{
        width: 400px;
        margin: 0;
        padding: 0;
    }
    .banner{
        flex-direction: column-reverse;
        width: 357px;
        height: 800px;
        padding: 8px 17px 8px 17px;
    }
    .banner-img{
        height: 413px;
        width: 336px;
        padding: 20px 10px 20px 10px;
    }
    .banner-details{
        width: 336px;
        height: 252px;
        padding: 0;
        
    }
    .banner-heading{
        font-size: 2rem;
        text-align: center;
    }
    .banner-description{
        font-size: 0.875rem;
        text-align: center;
        font-weight: 600;
    }
    .btn{
        align-content: center;
        padding-left: 100px;
    }
    .banner-btn{
        
    }
    .card-title{
        font-size: 1.5rem;
        padding: 40px 64px 40px 64px;
        width: 261px;
    }
    .card-image{
        width: 92px;
        height: 92px;
        align-items: center;
        padding-right: 20px;
    }
    .card-heading{
        font-size: 1rem;
        text-align: center;
        padding-left: 20px;
    }
    .card-content{
        font-weight: 0.63rem;
    }
    .card-1,.card-2,.card-3{
    
        width: 357px;
        height: 321px;
        border-radius: 12px;
        gap:12px;
        padding-bottom:80px;
    }
    
    .card-section{
        width: 357px;
        height: 990px;
        display: block;
       padding-left: 15px;
       
       
      
    }
    #card-bg-image{
        background-image: url(../assets/bg.png);
        width: 357px;
        margin: 0;
        height: 990px;
        justify-content: left;
    }
    .footer-bg{
        display: block;
        gap: 5px;
        
        width: 390px;
        height: 700px;
        padding: 60px 10px 60px 10px;
        
    }
    .footer-icon{
        justify-content: flex-start;
    }
    .footer-img{
        width: 60px;
        height: 60px;
    }
    .footer-title{
        font-weight: 700;
        font-size: 2rem;
    }
    .footer-details{
        font-size: 1rem;
        padding-left: 0;
    }
    .h4{
        font-size: 1.25rem;
    }
    .h5{
        font-size: 1rem;
    }
    .div-1{
        display: none;
    }
    .About-card-details{
        width: 390px;
        height: 700px;
        padding-top: 100px;
        padding-bottom: 10px;
        
    }
    .div{
        width: 173px;
        height: 150px;
        /* padding-top: 20px; */
        padding-bottom: 10px;
        margin: 0 auto;
        grid-template-rows: repeat(1,2fr); 
        gap: 10px;
    }
    .div-img{
        width: 173px;
        height: 105px;
        
    }
    .our-story{
        font-size: 1.625rem;
        padding-bottom: 20px;
    }
    .div-title{
        font-size: 0.5rem;
        font-weight: 700;
        line-height:15px;
        padding: 0px 20px 10px 20px;
     }
     .story-flex{
        padding-left: 0;
        
     }
     .btn-card{
        padding: 0;
     }
     .btn-primary{
        font-size: 1rem;
     }
    
     .card-info{
        height: 700px;
     align-content: end;
     justify-content: end;   
    padding: 100px 20px 0px 20px;
    
     }
     .card-3{
    
        width: 357px;
        height: 321px;
        border-radius: 12px;
        gap:12px;
        display: contents;
    }
    .banner-btn{
        height: 30px;
        width: 150px;
        border-radius: 12px;
        font-size: 0.5rem;
    }
    .btn-card{
        padding-top: 10px;
        padding-left: 110px;
    }

}
